#**Bitly User Activity Data Transformation**
Transforming Bitly User activity dataset into readable tabular data from `json` file to a `DataFrame` to a `CSV` eventually.

###**Objective:**
-  Data Transformation
-  Data Cleansing

###**Tech Stack:**
- Python
- Pandas ***Library***
- json ***Library***

###**Dataset:**
- `usa.gov_click_data_1.json`

***To download the dataset make sure to check the `dataset` folder in the `repository`***

###**Dataset Description**


|**key**| **description** |
|---|-----------|
| a|Denotes information about the web browser and operating system|
| tz | time zone |
| r | URL the user come from |
| u | URL where the user headed to |
| t | Timestamp when the user start using the website in UNIX format |
| hc | Timestamp when user exit the website in UNIX format |
| cy | City from which the request intiated |
| ll | Longitude and Latitude |

***Potentionally these are only the columns that a data transformation would be applied on***

---

In [1]:
import json
import pandas as pd

In [2]:
data = [json.loads(line) for line in open('usa.gov_click_data.json')]
data[0] # Print the first occurance

{'a': 'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/535.11 (KHTML, like Gecko) Chrome/17.0.963.78 Safari/535.11',
 'c': 'US',
 'nk': 1,
 'tz': 'America/New_York',
 'gr': 'MA',
 'g': 'A6qOVH',
 'h': 'wfLQtf',
 'l': 'orofrog',
 'al': 'en-US,en;q=0.8',
 'hh': '1.usa.gov',
 'r': 'http://www.facebook.com/l/7AQEFzjSi/1.usa.gov/wfLQtf',
 'u': 'http://www.ncbi.nlm.nih.gov/pubmed/22415991',
 't': 1333307030,
 'hc': 1333307037,
 'cy': 'Danvers',
 'll': [42.576698, -70.954903]}

In [3]:
bitly = pd.DataFrame(data) #Converting json to a DataFrame
bitly

,a,c,nk,tz,gr,g,h,l,al,hh,r,u,t,hc,cy,ll
0,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,US,1,America/New_York,MA,A6qOVH,wfLQtf,orofrog,"en-US,en;q=0.8",1.usa.gov,http://www.facebook.com/l/7AQEFzjSi/1.usa.gov/...,http://www.ncbi.nlm.nih.gov/pubmed/22415991,1333307030,1333307037,Danvers,"[42.576698, -70.954903]"
1,GoogleMaps/RochesterNY,US,0,America/Denver,UT,mwszkS,mwszkS,bitly,NaN,j.mp,http://www.AwareMap.com/,http://www.monroecounty.gov/etc/911/rss.php,1331923249,1308262393,Provo,"[40.218102, -111.613297]"
2,Mozilla/4.0 (Windows NT 6.1; MSIE 8.0; Windows...,US,1,America/New_York,DC,xxr3Qb,xxr3Qb,bitly,en-US,1.usa.gov,http://t.co/03elZC4Q,http://boxer.senate.gov/en/press/releases/0316...,1333407030,1333407035,Washington,"[38.9007, -77.043098]"
3,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8)...,BR,0,America/Sao_Paulo,27,zCaLwp,zUtuOu,alelex88,pt-br,1.usa.gov,direct,http://apod.nasa.gov/apod/ap120312.html,1333507030,1333507044,Braz,"[-23.549999, -46.616699]"
4,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,US,0,America/New_York,MA,9b6kNl,9b6kNl,bitly,"en-US,en;q=0.8",bit.ly,http://www.shrewsbury-ma.gov/selco/,http://www.shrewsbury-ma.gov/egov/gallery/1341...,1333607030,1333607039,Shrewsbury,"[42.286499, -71.714699]"
5,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,US,0,America/New_York,MA,axNK8c,axNK8c,bitly,"en-US,en;q=0.8",bit.ly,http://www.shrewsbury-ma.gov/selco/,http://www.shrewsbury-ma.gov/egov/gallery/1341...,1333707030,1333707048,Shrewsbury,"[42.286499, -71.714699]"
6,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/535.1...,PL,0,Europe/Warsaw,77,wcndER,zkpJBR,bnjacobs,"pl-PL,pl;q=0.8,en-US;q=0.6,en;q=0.4",1.usa.gov,http://plus.url.google.com/url?sa=z&n=13319232...,http://www.nasa.gov/mission_pages/nustar/main/...,1333807030,1333807040,Luban,"[51.116699, 15.2833]"
7,Mozilla/5.0 (Windows NT 6.1; rv:2.0.1) Gecko/2...,None,0,,NaN,wcndER,zkpJBR,bnjacobs,"bg,en-us;q=0.7,en;q=0.3",1.usa.gov,http://www.facebook.com/,http://www.nasa.gov/mission_pages/nustar/main/...,1334007036,13340070364,NaN,NaN
8,Opera/9.80 (Ubuntu 14.04.6; Linux zbov; U; en)...,None,0,,NaN,wcndER,zkpJBR,bnjacobs,"en-US, en",1.usa.gov,http://www.facebook.com/l.php?u=http%3A%2F%2F1...,http://www.nasa.gov/mission_pages/nustar/main/...,1333907030,1333907042,NaN,NaN
9,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,None,0,,NaN,zCaLwp,zUtuOu,alelex88,"pt-BR,pt;q=0.8,en-US;q=0.6,en;q=0.4",1.usa.gov,http://t.co/o1Pd0WeV,http://apod.nasa.gov/apod/ap120312.html,1334007030,1334007040,NaN,NaN
10,Mozilla/5.0 (Windows NT 6.1; WOW64; rv:10.0.2)...,US,1,America/Los_Angeles,WA,vNJS4H,u0uD9q,o_4us71ccioa,"en-us,en;q=0.5",1.usa.gov,direct,https://www.nysdot.gov/rexdesign/design/commun...,1334107030,1334107040,Seattle,"[47.5951, -122.332603]"
11,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10.4...,US,0,America/New_York,DC,wG7OIH,A0nRz4,darrellissa,"en-us,en;q=0.5",1.usa.gov,http://t.co/ND7SoPyo,http://oversight.house.gov/wp-content/uploads/...,1334207040,1334207043,Washington,"[38.937599, -77.092796]"

##**Extracting `browser` name into a new column**

In [4]:
bitly['web_browser'] = bitly['a'].str.extract('([A-Za-z0-9]+)', expand=True) #Extracting browser name

In [5]:
bitly['web_browser'] #validating the changes

0        Mozilla
1     GoogleMaps
2        Mozilla
3        Mozilla
4        Mozilla
5        Mozilla
6        Mozilla
7        Mozilla
8          Opera
9        Mozilla
10       Mozilla
11       Mozilla
Name: web_browser, dtype: object

##**Extracting `OS` name into a new column**

In [6]:
bitly['operating_sys'] = bitly['a'].str.replace('([A-Za-z]+/[0-9]*\.[0-9]+)','', regex=True) #Simplifying the sentense to extract from next

In [7]:
bitly['operating_sys'] = bitly['operating_sys'].str.extract('([A-Za-z]+)', expand=True) #Extracting OS Name

In [8]:
bitly['operating_sys'] #validating the changes

0        Windows
1     GoogleMaps
2        Windows
3      Macintosh
4        Windows
5        Windows
6        Windows
7        Windows
8         Ubuntu
9        Windows
10       Windows
11     Macintosh
Name: operating_sys, dtype: object

##**Extracting `from url` into a new column**

In [9]:
bitly['from_url'] = bitly['r'].str.replace('http://','') #Removing http://

In [10]:
bitly['from_url'] = bitly['from_url'].str.replace('/+.*','', regex=True) #Removing anything after /

In [11]:
bitly['from_url'].head(12)

0          www.facebook.com
1          www.AwareMap.com
2                      t.co
3                    direct
4     www.shrewsbury-ma.gov
5     www.shrewsbury-ma.gov
6       plus.url.google.com
7          www.facebook.com
8          www.facebook.com
9                      t.co
10                   direct
11                     t.co
Name: from_url, dtype: object

##**Extracting `to url` into a new column**

In [12]:
bitly['to_url'] = bitly['u'].str.replace('https?://','', regex=True) #Removing http://

In [13]:
bitly['to_url'] = bitly['to_url'].str.replace('/+.*','', regex=True) #Removing anything after /

In [14]:
bitly['to_url']

0      www.ncbi.nlm.nih.gov
1      www.monroecounty.gov
2          boxer.senate.gov
3             apod.nasa.gov
4     www.shrewsbury-ma.gov
5     www.shrewsbury-ma.gov
6              www.nasa.gov
7              www.nasa.gov
8              www.nasa.gov
9             apod.nasa.gov
10           www.nysdot.gov
11      oversight.house.gov
Name: to_url, dtype: object

##**Copying `cy` and renaming the column to `city`**

In [15]:
bitly['city'] = bitly['cy'].copy() #Taking a copy of 'cy' column into a new name 'city'

##**Splitting column `ll` into `Latitude` and `Longitude`**

In [16]:
bitly['ll'] #Viewing Latitude and Longitude data for a split in next line

0      [42.576698, -70.954903]
1     [40.218102, -111.613297]
2        [38.9007, -77.043098]
3     [-23.549999, -46.616699]
4      [42.286499, -71.714699]
5      [42.286499, -71.714699]
6         [51.116699, 15.2833]
7                          NaN
8                          NaN
9                          NaN
10      [47.5951, -122.332603]
11     [38.937599, -77.092796]
Name: ll, dtype: object

In [17]:
bitly['Latitude'] = bitly['ll'].str[0] #Extracting Latitude from 'll'
bitly['longitude'] = bitly['ll'].str[1] #Extracting Longitude from 'll'

In [18]:
bitly['Latitude'] #Verifying Latitude Output

0     42.576698
1     40.218102
2     38.900700
3    -23.549999
4     42.286499
5     42.286499
6     51.116699
7           NaN
8           NaN
9           NaN
10    47.595100
11    38.937599
Name: Latitude, dtype: float64

In [19]:
bitly['longitude'] #Verifying Longitude Output

0     -70.954903
1    -111.613297
2     -77.043098
3     -46.616699
4     -71.714699
5     -71.714699
6      15.283300
7            NaN
8            NaN
9            NaN
10   -122.332603
11    -77.092796
Name: longitude, dtype: float64

##**Copying `tz` into a new column `time_zone`**

In [20]:
bitly['time_zone'] = bitly['tz'].copy() #Taking a copy of 'tz' into a new column 'time_zone'

##**Converting `t` and `hc` to new columns yet in a `timestamp` format**

In [21]:
bitly['time_in'] = bitly['t'].apply(pd.Timestamp)

In [22]:
bitly['time_out'] = bitly['hc'].apply(pd.Timestamp)

###**Dropping unnecessary columns**

In [23]:
bitly.drop(['a','c','nk','tz','gr','g','h','l','al','hh','r','u','t','hc','cy','ll'], axis = 1, inplace=True)

In [24]:
bitly.dropna(inplace= True) #Handling null values

In [25]:
bitly #Validating the final result

,web_browser,operating_sys,from_url,to_url,city,Latitude,longitude,time_zone,time_in,time_out
0,Mozilla,Windows,www.facebook.com,www.ncbi.nlm.nih.gov,Danvers,42.576698,-70.954903,America/New_York,1970-01-01 00:00:01.333307030,1970-01-01 00:00:01.333307037
1,GoogleMaps,GoogleMaps,www.AwareMap.com,www.monroecounty.gov,Provo,40.218102,-111.613297,America/Denver,1970-01-01 00:00:01.331923249,1970-01-01 00:00:01.308262393
2,Mozilla,Windows,t.co,boxer.senate.gov,Washington,38.900700,-77.043098,America/New_York,1970-01-01 00:00:01.333407030,1970-01-01 00:00:01.333407035
3,Mozilla,Macintosh,direct,apod.nasa.gov,Braz,-23.549999,-46.616699,America/Sao_Paulo,1970-01-01 00:00:01.333507030,1970-01-01 00:00:01.333507044
4,Mozilla,Windows,www.shrewsbury-ma.gov,www.shrewsbury-ma.gov,Shrewsbury,42.286499,-71.714699,America/New_York,1970-01-01 00:00:01.333607030,1970-01-01 00:00:01.333607039
5,Mozilla,Windows,www.shrewsbury-ma.gov,www.shrewsbury-ma.gov,Shrewsbury,42.286499,-71.714699,America/New_York,1970-01-01 00:00:01.333707030,1970-01-01 00:00:01.333707048
6,Mozilla,Windows,plus.url.google.com,www.nasa.gov,Luban,51.116699,15.283300,Europe/Warsaw,1970-01-01 00:00:01.333807030,1970-01-01 00:00:01.333807040
10,Mozilla,Windows,direct,www.nysdot.gov,Seattle,47.595100,-122.332603,America/Los_Angeles,1970-01-01 00:00:01.334107030,1970-01-01 00:00:01.334107040
11,Mozilla,Macintosh,t.co,oversight.house.gov,Washington,38.937599,-77.092796,America/New_York,1970-01-01 00:00:01.334207040,1970-01-01 00:00:01.334207043

###**Exporting `DataFrame` as `CSV`**

In [26]:
bitly.to_csv('bitly_data_transformation.csv')